section.manager
    .container 
        h2.manager__title Предоставляем <br> персонального менеджера
        .manager__inner
            .manager__content
                h3.manager__subtitle 
                    | Нашим клиентам не нужно переключаться между специалистами, если необходимо решить вопросы по разным услугам.
                p.manager__text 
                    | После оформления договора за клиентом закрепляется персональный менеджер. Независимо того, заказываете вы одну услугу или весь комплекс, по вопросам, связанным с грузом, вы сможете обращаться к одному специалисту, а не к разным.
                p.manager__text 
                    | Мы понимаем, что от бесперебойности поставок зависит слишком многое в бизнесе, поэтому нам можно звонить в любое время.
            span.manager__decor-item 24/7