.menu
    .container 
        nav.menu__nav 
            ul.menu__list 
                li.menu__item 
                    a.menu__link(href="#") Услуги
                li.menu__item 
                    a.menu__link(href="#") Информация
                li.menu__item 
                    a.menu__link(href="#") О компании
                li.menu__item 
                    a.menu__link(href="#") Контакты
                li.menu__item 
                    a.menu__link(href="#") Оценка нашей работы
        address.menu__address 
            | г. Санкт-Петербург, ул. Лиговский пр., 53
        a.menu__mail-link(href="mailto:info@roslogistic.com") 
            | info@roslogistic.com
        ul.menu__social
            li.menu__social-item
                a.menu__social-link(href="#") 
                    +svg("social--telegram", "menu__icon", 28, 28)
            li.menu__social-item
                a.menu__social-link(href="#") 
                    +svg("social--whatsapp", "menu__icon", 28, 28)
            li.menu__social-item
                a.menu__social-link(href="#") 
                    +svg("social--vk", "menu__icon", 28, 28)
            li.menu__social-item
                a.menu__social-link(href="#") 
                    +svg("social--instagram", "menu__icon", 28, 28)