body {
	scroll-behavior: smooth;
}

a,
button,
input,
textarea,
select {

	
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: unset;
	margin: 0 auto;
	padding: 0 15px;
}

.outer-container {
	max-width: unset;
	margin: 0 auto;
}

.is-hidden {
	overflow: hidden;
}
