- var i = 1;
- var icons = 15;
section.geo
    .container
        h2.geo__title География поставок
        .geo__inner
            .geo__info 
                span.geo__value 43 567 392
                span.geo__text отправления по всему миру за 7 лет
        ul.geo__icons
            while i < icons
                li.geo__icons-item
                    +svg(`geo--geo-icon-${i++}`, "geo__icon", 60, 60)