section.services
    .container
        h2.services__title Услуги
        .services__content-top
            .services__item
                h3.services__name Транспортная логистика
                ul.services__list
                    li.services__list-item 
                        a.services__link(href="#")
                            | Мультимодальные перевозки
                    li.services__list-item 
                        a.services__link(href="#")
                            | Морские перевозки
                    li.services__list-item 
                        a.services__link(href="#")
                            | Авиаперевозки
                    li.services__list-item 
                        a.services__link(href="#")
                            | Железнодорожные перевозки
                    li.services__list-item 
                        a.services__link(href="#")
                            | Автомобильные перевозки
                    li.services__list-item 
                        a.services__link(href="#")
                            | Перевозки негабаритных и тяжеловесных грузов
                    li.services__list-item 
                        a.services__link(href="#")
                            | Перевозка опасных грузов 
                    li.services__list-item 
                        a.services__link(href="#")
                            | Перевозка сборных грузов
                    li.services__list-item 
                        a.services__link(href="#")
                            | Адресная доставка
            a.services__item(href="#") 
                h3.services__name Таможенное оформление
                svg.services__icon(width= "16", height="12")
                    use(xlink:href="../icons/sprite/sprite.svg#arrow")
            a.services__item(href="#") 
                h3.services__name Сертификация
                svg.services__icon(width= "16", height="12")
                    use(xlink:href="../icons/sprite/sprite.svg#arrow")
        .services__content-bottom
            a.services__item-bottom(href="#")
                h3.services__name Адресная доставка
                svg.services__icon(width= "16", height="12")
                    use(xlink:href="../icons/sprite/sprite.svg#arrow")
            a.services__item-bottom(href="#") 
                h3.services__name Аутсорсинг ВЭД
                svg.services__icon(width= "16", height="12")
                    use(xlink:href="../icons/sprite/sprite.svg#arrow")
            .services__item-bottom
                h3.services__name Другие услуги
                ul.services__list
                    li.services__list-item 
                        a.services__link(href="#")
                            | Складские услуги
                    li.services__list-item 
                        a.services__link(href="#")
                            | Фумигация грузов
                