section.hero
    .container
        .hero__content 
            h1.hero__title 
                | Доставим ваш груз и оформим по всем правилам
            a.hero__link(href="#") 
                | Начать игру
                svg.header__icon(width= "16", height="12")
                    use(xlink:href="../icons/sprite/sprite.svg#arrow")
            .hero__wrap
                a.hero__info(href="#") 
                    | Свидетельство Таможенного представителя Федеральной таможенной службы №1349
            