$main-font: null;
$second-font: null;

$color-title: null;
$color-text: null;
$color-accent: null;
$color-border: null;

$line-height-title: null;
$line-height-subtitle: null;
$line-height-text: null;

$letter-spacing-base: null;
